html {
    margin:0;
    padding:0:

}

/*--NAVBAR--*/
.navbar {
    background-color: #91ACC0;
    font-family: 'Playfair Display', serif;
}
.navbar li {
    font-weight: bold;
}
#navbarText {
    justify-content: end;
}

/*--Index.html Page--*/
.jumbotron {
    background-image:url("/templates/images/contact.jpg");
    background-position:center;
    background-attachment: fixed;
    -webkit-background-size:cover;
    -moz-background-size: cover;
    min-height: 75vh;
    margin-top: 0;
}

.overlay {
    height:50%;
    width:50%;
    background-color: rgba(255, 255, 255, 0.8);
    align-items:center;
    vertical-align: central;
    margin-top: 45px;
}
.jumbotron_shoutout{
    color:#000;
    font-weight: 500;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    
}

@media only screen and (max-width: 600px) {
  .overlay {
    height:45%;
    width:90%; 
    padding:10px;
}
    .jumbotron_shoutout{
    font-size:20px;
}
}
@media only screen and (max-width: 768px) {
  .overlay {
    height:45%;
    width:85%; 
}
    .jumbotron_shoutout{
    font-size:40px;
    
}
}

.contact_left, .contact_right{
    margin: 35px 0px;
    padding: 20px 0px;
    font-family: 'Playfair Display', cursive;
}

.contact_left p {
    color: #4f4f4f;
    margin-bottom:10px;
}

h4 {
    margin-bottom: 15px;
    color:#91ACC0;
}

#make_inquiry{
    background-color: #91ACC0;

}
#make_inquiry:hover {
    background-color:#fff;
    border: solid 2px #91ACC0;
    color:#91ACC0;
}
#inquiryLabel {
    color:#91ACC0;
}
form {
    text-align: left;
}
#send_message {
    background-color: #91ACC0;
}
/*--footer--*/
#footer-details {
    background-color: #91ACC0;
}

.footer-icons p, {
    color:#fff;
}

.social_media {
    padding:0;
}
.social_titles{
    font-family: 'Dancing Script', cursive;
    color: #ffffff;
    font-size: 25px;
    padding:0;
}