html {
    margin:0;
    padding:0:

}

/*--NAVBAR--*/
.navbar {
    background-color: #91ACC0;
    font-family: 'Playfair Display', serif;
}
.navbar li {
    font-weight: bold;
}
#navbarText {
    justify-content: end;
}

/*--Index.html Page--*/
.jumbotron {
    background-image:url("/templates/images/main.jpg");
    background-position:center;
    background-attachment: fixed;
    -webkit-background-size:cover;
    -moz-background-size: cover;
    min-height: 80vh;
    margin-top: 0;
}

.overlay {
    height:70%;
    width:60%;
    background-color: rgba(255, 255, 255, 0.8);
    align-items:center;
    vertical-align: central;
    margin-top: 45px;
}
.jumbotron_shoutout{
    color:#000;
    font-weight: 500;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    
}
#school_intro {
    color: #000;
    font-family: 'Playfair Display', serif;
    font-weight:400;
}

.intro_messages {
    font-size: 20px;
    font-family: 'Playfair Display', serif;
}
/*--announcement--*/
#news {
    padding:0;
    margin:0;
    font-family: 'Playfair Display', serif;
}
/*--browse courses/giftvouchers cards--*/
#browse {
    margin-top:20px;
    margin-bottom:20px;
    padding:20px;
    font-family: 'Playfair Display', serif;
}
#browse p {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 20px;
    color:#4f4f4f;
}
h2 {
    color: #4f4f4f;
    font-family: 'Playfair Display', serif;
}
.index-card {
    margin-top:20px;
    font-family: 'Playfair Display', serif;
}
.img-index{
    height: 350px;
}
div .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cardbody1 {
    background-color: #BB5978;
    font-family: 'Playfair Display', serif;
    opacity:0.8;
}

.cardbody2 {
    background-color:#91ACC0;
    font-family: 'Playfair Display', serif;
    opacity:0.8;
}
.card-link {
    font-size: 30px;
    color: #000;
}
a:hover {
    color:#fff;
}
/*--students feebback--*/
.comments {
    font-family: 'Playfair Display', serif;
}
.ratings {
    padding:0;
    color: #ffd633;
}
/*--footer--*/
#footer-details {
    background-color: #91ACC0;
}

.footer-icons p, {
    color:#fff;
}

.social_media {
    padding:0;
}
.social_titles{
    font-family: 'Dancing Script', cursive;
    color: #ffffff;
    font-size: 25px;
    padding:0;
}

/*--COURSES.HTML--*/
