html {
    margin:0;
    padding:0:
}

/*--NAVBAR--*/
.navbar {
    background-color: #91ACC0;
    font-family: 'Playfair Display', serif;
}
.navbar li {
    font-weight: bold;
}
#navbarText {
    justify-content: end;
}

.jumbotron {
    background-image:url("/templates/images/whisk.jpg");
    background-position:center;
    background-attachment: fixed;
    -webkit-background-size:cover;
    -moz-background-size: cover;
    min-height: 60vh;
    margin-top: 0;
}

.overlay {
    height:60%;
    width:50%;
    background-color: rgba(255, 255, 255, 0.8);
    align-items:center;
    vertical-align: central;
    margin-top: 45px;
}
.jumbotron_shoutout{
    color:#000;
    font-weight: 500;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    
}
/*--footer--*/
#footer-details {
    background-color: #91ACC0;
}

.footer-icons p, {
    color:#fff;
}

.social_media {
    padding:0;
}
.social_titles{
    font-family: 'Dancing Script', cursive;
    color: #ffffff;
    font-size: 25px;
    padding:0;
}