html {
    margin:0;
    padding:0:
}

/*--NAVBAR--*/
.navbar {
    background-color: #91ACC0;
    font-family: 'Playfair Display', serif;
}
.navbar li {
    font-weight: bold;
}
#navbarText {
    justify-content: end;
}

.jumbotron {
    background-image:url("/templates/images/crossaints.jpg");
    background-position:center;
    background-attachment: fixed;
    -webkit-background-size:cover;
    -moz-background-size: cover;
    min-height: 80vh;
    margin-top: 0;
}

.overlay {
    height:60%;
    width:50%;
    background-color: rgba(255, 255, 255, 0.8);
    align-items:center;
    vertical-align: central;
    margin-top: 45px;
}
.jumbotron_shoutout{
    color:#000;
    font-weight: 500;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    
}
.jumbotron_descriptions {
    list-style: none;
    font-size:20px;
    font-family: 'san serif', serif;
    font-style:italic;
    line-height: 1.5em;
    padding:0;
}
.filter_checkbox {
    font-size:26px;
    font-family: 'san serif', serif;
}
h2 {
    font-family: 'Playfair Display', serif;
    padding-bottom:30px;
    color: #4f4f4f;
    text-align: center;
}
h4 {
    font-family: 'Playfair Display', serif;
}
.img-crossaint{
    width:350px;
    height:350px;
}
.courses_lists {
    list-style: none;
    padding:0;
    margin-top:20px;
    font-family: 'san serif', serif;
    font-szie:24px;
}
/*--footer--*/
#footer-details {
    background-color: #91ACC0;
}

.footer-icons p, {
    color:#fff;
}

.social_media {
    padding:0;
}
.social_titles{
    font-family: 'Dancing Script', cursive;
    color: #ffffff;
    font-size: 25px;
    padding:0;
}