html {
    margin:0;
    padding:0:

}

/*--NAVBAR--*/
.navbar {
    background-color: #91ACC0;
    font-family: 'Playfair Display', serif;
}
.navbar li {
    font-weight: bold;
}
#navbarText {
    justify-content: end;
}

/*--Index.html Page--*/
.jumbotron {
    background-image:url("/templates/images/jumbotron.jpg");
    background-position:center;
    background-attachment: fixed;
    -webkit-background-size:cover;
    -moz-background-size: cover;
    min-height: 80vh;
    margin-top: 0;
}

.overlay {
    height:80%;
    width:70%;
    background-color: rgba(255, 255, 255, 0.7);
    align-items:center;
    vertical-align: central;
    margin-top: 45px;
}
#welcome{
    color:#000;
    font-weight: 500;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    
}
#school_intro {
    color: #000;
    font-family: 'Playfair Display', serif;
    font-weight:400;
}

.intro_messages {
    font-size: 20px;
    font-family: 'Playfair Display', serif;
}

#news {
    padding:0;
    margin:0;
    font-family: 'Playfair Display', serif;
}

#browse {
    margin-top:20px;
    margin-bottom:20px;
    padding:20px;
    font-family: 'Playfair Display', serif;
}
h2 {
    color: #4f4f4f;
    font-family: 'Playfair Display', serif;
}
.index-card {
    margin-top:20px;
    font-family: 'Playfair Display', serif;
}

.img-index{
    height: 350px;
}

.cardbody1 {
    background-color: #BB5978;
    font-family: 'Playfair Display', serif;
}

.cardbody2 {
    background-color:#91ACC0;
    font-family: 'Playfair Display', serif;
}
.card-link {
    font-size: 30px;
    color: #000;
}
.comments {
    font-family: 'Playfair Display', serif;
}
.ratings {
    padding:0;
    color: #ffd633;
}
#footer-details {
    background-color: #91ACC0;
}

.footer-icons p, {
    color:#fff;
}
.follow_me {
    font-family: 'Playfair Display', serif;
    font-size:22px;
    color: #fff;
}
.contact {
    font-family: 'Playfair Display', serif;
    color: #fff;
    font-size: 30px;
}